#root {
  width: 100%;
  height: 100%; 
  margin: 0 auto;
  text-align: center;
}

.title {
  position: absolute; 
  font-size: 40px;
  font-weight: bold; 
  font-family:'Lucida Sans';
  height: 100%; 
  width: 100%; 
  top: 30px; 
  justify-content: center;
  text-align: center; 
}

.controls { 
  width: 100%;
  display: flex;
  flex-direction: horizontal; 
  gap: 20px;
  justify-content: center;
}